<div class="container">
  <div class="row py-2">
    <div class="col-md-2">
      <h3>Actions</h3>
      <div class="bottom-border my-2"></div>
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/account/order-history']">Order History</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/account/update-profile']">Update Profile</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/account/delete-account']" class="text-red"
            >Delete Account</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <h3>
        Welcome {{ (user$ | async)?.user?.fname }},
        {{ (user$ | async)?.user?.lname }}
      </h3>
      <div class="bottom-border"></div>
    </div>
  </div>
</div>
