<div *ngIf="(isLoading$ | async) === true">
  <app-shared-loader></app-shared-loader>
</div>
<div class="container">
  <div class="row py-2">
    <div class="col-md-2">
      <h3>Actions</h3>
      <div class="bottom-border my-2"></div>
      <ul class="list-group">
        <li class="list-group-item">
          <button
            type="button"
            class="btn btn-sm btn-link"
            [routerLink]="['/account/order-history']"
          >
            Order History
          </button>
        </li>
        <li class="list-group-item">
          <button
            type="button"
            class="btn btn-sm btn-link"
            [routerLink]="['/account/update-profile']"
          >
            Update Profile
          </button>
        </li>
        <li class="list-group-item">
          <button
            type="button"
            class="btn btn-sm btn-link"
            [routerLink]="['/account/delete-account']"
          >
            Delete Account
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <h3>Update Profile</h3>
      <div class="bottom-border my-2"></div>
      <div
        class="alert alert-success"
        *ngIf="(response$ | async)?.success === true"
      >
        {{ (response$ | async)?.message }}
        You'll see the update the next time you log in.
      </div>
      <div class="alert alert-danger" *ngIf="(errorMessage$ | async)?.length">
        {{ errorMessage$ | async }}
      </div>
      <fieldset>
        <legend>Update Email</legend>
        <form
          [formGroup]="updateForm"
          (ngSubmit)="onUpdateClicked()"
          #formDir="ngForm"
        >
          <div class="form-group col-md-6 my-2">
            <label class="form-label"
              >Current email: {{ (user$ | async)?.email }}</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="enter new email"
            />
          </div>
          <legend>Update Password</legend>
          <div class="form-group col-md-6 my-2">
            <label for="password" class="form-label"
              >Current Password <span style="color: red">*</span></label
            >
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="password"
              placeholder="enter current password"
              required
              autofocus
            />
          </div>
          <div class="form-group col-md-6 my-2">
            <label class="form-label" for="newPassword">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="newPassword"
              id="newPassword"
              placeholder="enter new password"
              [ngClass]="
                !updateForm.errors?.['matchPassword'] &&
                updateForm.controls['newPassword'].dirty
                  ? 'is-valid'
                  : ''
              "
              title="at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            />
          </div>
          <div class="form-group col-md-6 my-2">
            <label class="form-label" for="confirmPassword"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              [ngClass]="
                !updateForm.errors?.['matchPassword'] &&
                updateForm.controls['newPassword'].dirty
                  ? 'is-valid'
                  : ''
              "
              id="confirmPassword"
              formControlName="confirmPassword"
              aria-describedby="passwordFeedback"
              placeholder="confirm new password"
            />
            <div
              *ngIf="updateForm.errors?.['matchPassword'] &&
            (updateForm.controls['confirmPassword'].dirty ||
            updateForm.controls['confirmPassword'].touched)
            "
            >
              <div class="invalid-feedback" id="passwordFeedback">
                The passwords do not match.
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!updateForm.valid"
          >
            Update
          </button>
          <span class="mx-sm-3"
            ><small style="color: red">* Required Fields</small></span
          >
        </form>
      </fieldset>
    </div>
  </div>
</div>
