<div class="container">
  <div class="row py-2">
    <div class="col-md-2">
      <h3>Actions</h3>
      <div class="bottom-border my-2"></div>
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/account/order-history']">Order History</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/account/update-profile']">Update Profile</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/account/delete-account']" class="text-red"
            >Delete Account</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <h3>Update Profile</h3>
      <div class="bottom-border my-2"></div>
      <fieldset>
        <legend>Update Email</legend>
        <form [formGroup]="updateForm">
          <div class="form-group col-md-6 my-2">
            <label class="form-label"
              >Current email: {{ (user$ | async)?.email }}</label
            >
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              formControlName="email"
              placeholder="enter new email"
              required
            />
            <button type="submit" class="btn btn-primary my-2">Update</button>
          </div>
        </form>
      </fieldset>
      <fieldset class="my-5">
        <legend>Update Password</legend>
        <form>
          <div class="form-group col-md-6 my-2">
            <label for="inputPassword" class="form-label"
              >Current Password <span style="color: red">*</span></label
            >
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="inputPassword"
              placeholder="enter current password"
              required
              autofocus
            />
          </div>
          <div class="form-group col-md-6 my-2">
            <label class="form-label" for="newPassword"
              >Password <span style="color: red">*</span></label
            >
            <input
              type="password"
              class="form-control"
              formControlName="newPassword"
              id="newPassword"
              placeholder="enter new password"
              title="at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              required
            />
          </div>
          <div class="form-group col-md-6 my-2">
            <label class="form-label" for="confirmPassword"
              >Confirm Password <span style="color: red">*</span></label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              formControlName="confirmPassword"
              placeholder="confirm new password"
              required
            />
          </div>
          <div
            *ngIf="updateForm.errors?.['matchPassword'] &&
            (updateForm.controls['confirmPassword'].dirty ||
            updateForm.controls['confirmPassword'].touched)
            "
          >
            <div class="invalid-feedback">The passwords do not match.</div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="
              !updateForm.valid || (response$ | async)?.success === false
            "
          >
            Update
          </button>
          <span class="mx-sm-3"
            ><small style="color: red">* Required Fields</small></span
          >
        </form>
      </fieldset>
    </div>
  </div>
</div>
<ng-container #valid>
  <div class="valid-feedback">Looks good!</div>
</ng-container>
