<div class="container">
  <div class="row py-2">
    <div class="col-md-2">
      <h3>Actions</h3>
      <div class="bottom-border my-2"></div>
      <ul class="list-group">
        <li class="list-group-item"><a [routerLink]="['/admin/create-item']">Insert a new item.</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      <h3>Welcome administrator FIRST NAME, LAST NAME</h3>
      <div class="bottom-border my-2"></div>

      <!-- {% with message = get_flashed_messages() %}
          {% if message %}
          {% for item in message %}
          <div class="alert alert-danger" role="alert">
              {{item}}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %} -->

      <div class="row row-cols-1 row-cols-md-4 g-4">
        <!-- {% for product in inventory %}
              {% if not product['isDeleted'] %} -->
        <div class="col">
          <div class="card w-100 h-100">
            <img class="card-img-top mx-auto" src="" alt="product image" />
            <div class="card-body">
              <h5 class="card-title">PRODUCT NAME</h5>
              <p class="card-text">PRICE</p>
              <!-- {% if product['stock'] > 0 %}
                          <p class="card-text" style="color: green;">In stock: {{
                              product['stock'] }}</p>
                          {% else %}
                          <p class="card-text" style="color: red;">Out of stock</p>
                          {% endif %} -->
            </div>
            <div class="card-footer">
              <div style="display: inline-block">
                <form method="get">
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
              </div>
              <div style="display: inline-block">
                <form>
                  <button type="submit" name="delete" class="btn btn-danger">
                    Delete
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- {% endif %}
              {% endfor %} -->
      </div>
    </div>
  </div>
</div>
