<!-- Page Content -->
<div class="container">
  <div class="row py-5">
    <div class="col-md-8 py-5">
      <div class="col">
        <img
          src="../../assets/images/home/beautiful-landscape-automatic-sprinkler-spraying-600w-1456434497.webp"
          class="img-fluid rounded-circle center"
          alt="Picture of MP-Rotator"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <img
            src="../../assets/images/home/sprinkler-automatic-watering-lawn-irrigation-600w-1716970840.webp"
            class="img-fluid rounded-circle center"
            alt="Picture of Rotor"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img
            src="../../assets/images/home/automatic-sprinkler-system-watering-lawn-600w-628942718.webp"
            class="img-fluid rounded-circle center"
            alt="Picture of Sprinkler"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="text-align: center">
      <h3>Shop Products</h3>
    </div>
    <div class="bottom-border"></div>
  </div>
  <div class="row">
    <div class="img-wrap">
      <a routerLink="/products/sprinkler-bodies" class="img-link px-3">
        <img
          src="../../assets/images/home/5070_spray_heads_category_image.png"
          class="border border-2 my-5 rounded-pill w-auto"
          alt="Sprinklers"
        />
      </a>

      <a routerLink="/products/rotors" class="img-link px-3">
        <img
          src="../../assets/images/home/5049_rotors_category_image.png"
          class="border border-2 my-5 rounded-pill w-auto"
          alt="Rotors"
        />
      </a>

      <a routerLink="/products/valves" class="img-link px-3">
        <img
          src="../../assets/images/home/4980_valves_category_image.png"
          class="border border-2 my-5 rounded-pill w-auto"
          alt="Valves"
        />
      </a>

      <a routerLink="/products/controllers" class="img-link px-3">
        <img
          src="../../assets/images/home/4365_controllers_timers_category_image.png"
          class="border border-2 my-5 rounded-pill w-auto"
          alt="Controllers"
        />
      </a>

      <a routerLink="/products/sprinkler-nozzles" class="img-link px-3">
        <img
          src="../../assets/images/home/5037_nozzles_category_image.png"
          class="border border-2 my-5 rounded-pill w-auto"
          alt="Nozzles"
        />
      </a>
    </div>
  </div>
</div>
