<div *ngIf="(productsLoading$ | async) === true">
  <app-shared-loader></app-shared-loader>
</div>
<div
  class="modal fade"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="deleteModal"
  aria-hidden="true"
  id="deleteModal"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="deleteModal">Delete Product</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="resetDeleteResponse()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row-cols-1 my-2">
          <ng-container
            *ngTemplateOutlet="
              !productToDelete?.isDeleted
                ? showDeleteConfirmation
                : showAlreadyDeleted
            "
          ></ng-container>
          <ng-template #showDeleteConfirmation
            ><p class="alert alert-danger">
              Are you sure you want to delete this product?
            </p></ng-template
          >
          <ng-template #showAlreadyDeleted
            ><p class="alert alert-warning">
              This product is already marked for deletion.
            </p></ng-template
          >
        </div>
        <div class="row-cols-1">
          <div class="col-md-12" *ngIf="(deleteSuccess$ | async) === true">
            <p class="alert alert-success">
              The product was deleted successfully. Please refresh the page.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="resetDeleteResponse()"
            >
              Cancel
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="productToDelete?.isDeleted"
              (click)="onConfirmDelete(productToDelete)"
            >
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="deleteIconModal"
  aria-hidden="true"
  id="deleteIconModal"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="deleteModal">
          This product has been marked for deletion.
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onIconClickedConfirm()"
        ></button>
      </div>
      <div class="modal-body">
        <p>Marked by: {{ iconClickedProduct?.deleted_by }}</p>
        <p>Date marked: {{ iconClickedProduct?.deleted_date | date }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onIconClickedConfirm()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="onIconClickedConfirm()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
<app-update-item
  [product]="productToUpdate"
  [user]="user$ | async"
></app-update-item>
<div class="container">
  <div class="row py-2">
    <div class="col-md-2">
      <h3>Actions</h3>
      <div class="bottom-border my-2"></div>
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/admin/create-item']">Insert a new item.</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <h3>
        Administrator {{ (user$ | async)?.fname }}
        {{ (user$ | async)?.lname }}
      </h3>
      <div class="bottom-border my-2"></div>
      <div class="col" *ngIf="deleted" class="alert alert-success" role="alert">
        Item deleted successfully.
      </div>
      <div class="col" *ngIf="updated" class="alert alert-success" role="alert">
        Item updated successfully.
      </div>
      <div
        class="row row-cols-1 row-cols-md-4 g-4"
        *ngIf="products$ | async as products"
      >
        <div class="col" *ngFor="let product of products">
          <app-admin-cards
            [product]="product"
            (clickedDelete)="onDelete($event)"
            (clickedUpdate)="onUpdate($event)"
            (clickedDeleteIcon)="onIconClicked($event)"
          ></app-admin-cards>
        </div>
      </div>
      <div class="row my-md-2">
        <app-pagination
          [current]="paging.page"
          [total]="paging.totalDocs"
          [numberOfPages]="paging.totalPages"
          (goTo)="onGoTo($event)"
          (next)="onNext($event)"
          (previous)="onPrevious($event)"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>
