.qty-btn {
  min-width: 35px;
}

/* Remove arrows in number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.quantity {
  min-width: 50px;
}

/* .quantity-form {
  display: inline-flex;
} */
