<div class="input-group mb-3">
  <button
    type="button"
    class="btn btn-outline-secondary qty-btn"
    (click)="minusOne()"
    [disabled]="inputQuantity ? inputQuantity <= 1 : qty <= 1"
  >
    -
  </button>
  <input
    type="number"
    #quantity
    class="form-control"
    min="1"
    max="9999"
    [(ngModel)]="inputQuantity ? inputQuantity : qty"
  />
  <button
    type="button"
    class="btn btn-outline-secondary qty-btn"
    (click)="plusOne()"
    [disabled]="inputQuantity ? inputQuantity >= stock : qty >= stock"
  >
    +
  </button>
</div>
<div class="row mx-0">
  <button
    *ngIf="title"
    name="add-to-cart"
    class="btn btn-primary"
    [disabled]="stock <= 0"
    (click)="submitClicked()"
  >
    {{ title }}
  </button>
</div>

<!-- (click)="submit()"
[disabled]="product.stock <= 0" -->
