<div *ngIf="(user$ | async)?.isLoading">
  <app-shared-loader></app-shared-loader>
</div>
<div class="container">
  <div class="row py-2">
    <!-- start Customer login -->
    <div class="col-lg-9">
      <fieldset>
        <legend>Customer Login</legend>
        <div class="alert alert-danger col-md-6 mx-sm-3" *ngIf="(errorMessage$ | async)">
          No account found with the provided email address or password.
        </div>
        <!-- TODO: Flash message if user accesses cart without being signed in -->
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
          <div class="form-group col-md-6 mx-sm-3">
            <label for="inputEmail"
              >Email address <span class="required">*</span></label
            >
            <em
              class="required"
              *ngIf="
                loginForm.controls.userName?.invalid &&
                (loginForm.controls.userName?.touched || mouseoverLogin)
              "
              >Required</em
            >
            <input
              type="email"
              class="form-control my-2"
              formControlName="userName"
              id="userName"
              placeholder="Enter email"
              aria-describedby="emailHelp"
              required
              autofocus
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group col-md-6 mx-sm-3 my-2">
            <label for="inputPassword"
              >Password <span class="required">*</span></label
            >
            <em
              class="required"
              *ngIf="
                loginForm.controls.password?.invalid &&
                (loginForm.controls.password?.touched || mouseoverLogin)
              "
              >Required</em
            >
            <input
              (ngModel)="(password)"
              type="password"
              class="form-control my-2"
              formControlName="password"
              id="inputPassword"
              placeholder="Password"
              required
              autofocus
            />
          </div>
          <div class="form-group mx-sm-3">
            <span
              (mouseenter)="mouseoverLogin = true"
              (mouseleave)="mouseoverLogin = false"
              ><button
                type="submit"
                [disabled]="loginForm.invalid"
                class="btn btn-primary"
              >
                Login
              </button></span
            >
            <a href="#" class="px-5">Forgot Password?</a>
          </div>
          <span class="mx-sm-3"
            ><small class="required">* Required Fields</small></span
          >
        </form>
      </fieldset>
    </div>
    <!-- end customer login -->

    <!-- start customer needs sign up -->
    <div class="col-lg-3">
      <fieldset>
        <legend>New Customers</legend>
        <form>
          <div class="form-group mx-sm-3">
            <label>Don't have an account?</label>
          </div>

          <div class="form-group mx-sm-3 my-2">
            <a routerLink="/sign-up"
              ><button type="button" class="btn btn-primary">
                Create an account
              </button></a
            >
          </div>
        </form>
      </fieldset>
    </div>
    <!-- end customer needs sign up -->
  </div>
</div>
