<div *ngIf="(isLoading$ | async) === true">
  <app-shared-loader></app-shared-loader>
</div>
<div
  class="modal fade"
  id="updateItemModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="updateItemLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="updateItemLabel">Update Item</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row my-2">
          <div class="col">
            <img
              src="/assets/{{ product?.imageUrl }}"
              alt="product-image"
              class="rounded mx-auto d-block img-thumbnail img-size"
            />
            <form [formGroup]="updateItemForm" (ngSubmit)="onUpdate()" #formDir="ngForm">
              <div class="form-group my-2">
                <label for="product-name" class="form-label">Enter Product Name</label>
                <textarea
                  class="form-control"
                  rows="3"
                  id="product-name"
                  formControlName="productName"
                  [value]="product?.productName"
                ></textarea>
              </div>
              <div class="form-group my-2">
                <label for="product-price" class="form-label">Enter Product Price</label>
                <input
                  type="text"
                  class="form-control"
                  id="product-price"
                  formControlName="price"
                  [value]="product?.price"
                />
              </div>
              <div class="form-group my-2">
                <label for="product-stock" class="form-label">Enter Product Stock</label>
                <input
                  type="number"
                  class="form-control"
                  id="product-stock"
                  formControlName="stock"
                  [value]="product?.stock"
                />
              </div>
              <div class="form-group my-2">
                <label for="product-image" class="form-label">Product Image</label>
                <input
                  type="file"
                  class="form-control"
                  id="product-image"
                  formControlName="imageUrl"
                />
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" *ngIf="(error$ |async)?.length">
            <p class="alert alert-success">{{ (error$ | async ) }}</p>
          </div>
          <div class="col-md-12" *ngIf="(updateSuccess$ | async) === true">
            <p class="alert alert-success">The product was updated successfully.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="onClose()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
