.flex-spacer {
  flex-grow: 1;
}

.header-zindex {
  z-index: 10000;
}

#navbarDropdownMenuLink,
#navbarDropdownAccountLink {
  color: #fff;
}

li > a {
  &:hover {
    background: #31b389;
    color: white;
  }
}

.cart {
  margin-right: 20px;
}

.navbar {
  min-height: 100px;
}
