<div *ngIf="(productsLoading$ | async)?.isLoading || (addToCartLoading$ | async)?.isLoading">
  <app-shared-loader></app-shared-loader>
</div>
<div class="container">
  <div class="row py-2">
    <div class="col-md-2">
      <h3>Actions</h3>
      <div class="bottom-border my-2"></div>
      <ul class="list-group">
        <li class="list-group-item">
          <button type="button" class="btn btn-sm btn-link">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t=3s" target="_blank">What do</a>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <h3>Sprinkler Nozzles</h3>

      <div class="bottom-border my-2"></div>
      <!-- <div
        *ngIf="addToCartResponse$ | async"
        class="alert alert-danger"
        role="alert"
      >
        {{ addToCartResponse$ | async }}
      </div> -->
      <div
        class="col"
        *ngIf="(products$ | async)?.length === 0"
        class="alert alert-danger"
        role="alert"
      >
        No products available.
      </div>
      <div *ngIf="!validated" class="alert alert-warning" role="alert">
        Please log in to add to your cart.
      </div>

      <div class="row row-cols-1 row-cols-lg-4 g-4" *ngIf="products$ | async">
        <div class="col" *ngFor="let product of products$ | async">
          <app-product-card
            [product]="product"
            [title]="'Add to cart'"
            (quantityUpdated)="updateQuantity($event)"
            (submitClicked)="submit(product, $event)"
            [message]="{ message: message, id: submitted }"
          ></app-product-card>
        </div>
      </div>
      <div class="row my-md-2">
        <app-pagination
          [current]="paging.page"
          [total]="paging.totalDocs"
          [numberOfPages]="paging.totalPages"
          (goTo)="onGoTo($event)"
          (next)="onNext($event)"
          (previous)="onPrevious($event)"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>
