/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.img-wrap {
  text-align: center;
}

div.bottom-border {
  border: 1px solid #31b389;
  /* max-width: 100%; */
}

.in-stock {
  color: green;
  font-weight: bold;
}

.out-of-stock {
  color: red;
  font-weight: bold;
}

.product-price {
  font-weight: bold;
}

.product-title {
  font-weight: bold;
}

.card-img-top {
  width: 60%;
}

.btn, .btn-primary {
  border: 2px solid #31b389;
  color: #31b389;
  background: #fff;
  &:hover {
    border: 2px solid #31b389;
    background: #31b389;
    color: #fff;
  }
  &:disabled {
    background: #31b389;
    opacity: .6;
    border: #31b389;
    color: #fff;
  }
  &:focus {
    color: #fff;
    background-color: #31aa84;
    border-color: #31b389;
    box-shadow: 0 0 0 0.25rem rgb(49, 179, 137, 50%);
  }
  &:active {
    color: #fff;
    background-color: #31aa84;
    border-color: #31b389;
  }
}
