footer {
  font-size: 80%;
}

.navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

footer .final {
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
}

footer hr {
  margin-bottom: 0;
}

.links {
  color: black;
}

div.bottom-border {
  border: 1px solid #31b389;
  /* max-width: 100%; */
}

.button-admin {
  display: block;
}

.btn-primary {
  border-color: #278ab0;
  background-color: #278ab0;
  color: white;
}

.btn-outline-neon {
  border-color: #31b389;
  color: #31b389;
}

.btn-outline-neon:hover {
  border-color: #31b389;
  background-color: #31b389;
  color: white;
}

input.qty-number {
  text-align: center;
}

#qty-change-minus,
#qty-change-plus {
  width: 50px;
}

input[readonly].amount,
input[readonly].tax,
input[readonly].total {
  background-color: transparent !important;
  border: none !important;
  text-align: right !important;
  font-size: 1em;
}

.img-wrap {
  text-align: center;
}

/* .img-wrapper {
    background-color: #eaeae0;
    text-align: center;
} */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-link {
  text-decoration: none !important;
  border: 0px !important;
  outline: none;
  border-width: 0px;
  outline-width: 0px;
  border-bottom: none;
}

.text-red {
  color: red;
}
