<div class="container">
  <div class="row py-2">
    <div class="col-md-2">
      <h3>Actions</h3>
      <div class="bottom-border my-2"></div>
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/account/order-history']">Order History</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/account/update-profile']">Update Profile</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/account/delete-account']" class="text-red"
            >Delete Account</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <h3>Order History</h3>
      <div class="bottom-border my-4"></div>
      <!-- {% if not order_history %}
          <div class="alert alert-danger" role="alert">
              There are no orders associated with this account.
          </div>
          {% else %}
          {% for key in order_history %} -->
      <div class="table-responsive caption-top">
        <caption>
          Confirmation ID: KEY
        </caption>
        <table class="table">
          <thead class="table-light">
            <tr>
              <th scope="col">PRODUCT</th>
              <th scope="col">ORDER DATE</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">PRICE</th>
              <th scope="col">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <!-- {% for product in order_history[key] %} -->
            <tr>
              <td>
                <div>
                  <!-- <span
                    ><img
                      src="/{{ product['imageUrl'] }}"
                      class="img-thumbnail"
                      alt="{{ product['productName'] }}"
                      style="width: 100px"
                  /></span> -->
                </div>
                <div>
                  <span>PRODUCT NAME</span>
                </div>
              </td>

              <td>DATE</td>
              <td>QTY</td>
              <td>PRICE</td>
              <td>TOTAL PRICE</td>
            </tr>
            <!-- {% endfor %} -->
          </tbody>
        </table>
      </div>
      <!-- {% endfor %} {% endif %} -->
    </div>
  </div>
</div>
