<div *ngIf="(isLoading$ | async) === true">
  <app-shared-loader></app-shared-loader>
</div>
<div class="container">
  <div class="row py-2">
    <div class="col-md-2">
      <h3>Actions</h3>
      <div class="bottom-border my-4"></div>
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/account/order-history']">Order History</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/account/update-profile']">Update Profile</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/account/delete-account']" class="text-red"
            >Delete Account</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <h3>Order History</h3>
      <div class="bottom-border my-4"></div>
      <div class="alert alert-warning" role="alert">
        Please refresh the page if you recently placed an order.
      </div>
      <div
        class="alert alert-warning"
        role="alert"
        *ngIf="(orders$ | async)?.length === 0"
      >
        There are no orders associated with this account.
      </div>
      <!-- for each order -->
      <table
        class="table caption-top"
        *ngFor="let order of orders$ | async as Order"
      >
        <caption>
          Confirmation ID:
          {{
            order.orderId
          }}
        </caption>
        <thead class="table-light">
          <tr>
            <th scope="col" class="table-header">PRODUCT</th>
            <th scope="col">ORDER DATE</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">PRICE</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <!-- {% for product in order_history[key] %} -->
          <tr *ngFor="let product of order.order">
            <th scope="row" class="table-header">
              <figure class="figure">
                <img
                  src="assets/{{ product.imageUrl }}"
                  class="figure-img img-fluid rounded"
                  alt="productImage"
                  style="width: 100px"
                />
                <figcaption class="figure-caption">
                  {{ product?.productName }}
                </figcaption>
              </figure>
            </th>

            <td>{{ order.orderedDate | date: "medium" }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price | currency: "USD":"symbol" }}</td>
            <td>
              {{ product.price * product.quantity | currency: "USD":"symbol" }}
            </td>
          </tr>
          <!-- {% endfor %} -->
        </tbody>
        <tfoot>
          Total:
          {{
            order.total | currency: "USD":"symbol"
          }}
        </tfoot>
      </table>
      <!-- {% endfor %} {% endif %} -->
      <div class="row my-md-2">
        <app-pagination
          [current]="paging.page"
          [total]="paging.totalDocs"
          [numberOfPages]="paging.totalPages"
          (goTo)="onGoTo($event)"
          (next)="onNext($event)"
          (previous)="onPrevious($event)"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>
