<!-- Page Content -->
<div *ngIf="(loading$ | async)?.isLoading">
  <app-shared-loader></app-shared-loader>
</div>
<div class="container">
  <div class="row py-2">
    <div class="col-lg-6 mx-auto">
      <fieldset>
        <legend>Create New Customer Account</legend>
        <div class="alert alert-success" *ngIf="(signUpMessage$ | async)?.success">
          Account created successfully. You may now log in.
        </div>
        <div class="alert alert-danger" *ngIf="(signUpMessage$ | async)?.success === false">
          Error.
        </div>
        <form
          [formGroup]="createUserForm"
          (ngSubmit)="onSubmit(createUserForm)"
          #formDir="ngForm"
        >
          <h4>Personal Information</h4>

          <div class="form-group mx-sm-3">
            <label for="inputFname"
              >First name <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              id="inputFname"
              placeholder="Enter first name"
              required
            />
          </div>
          <div class="form-group mx-sm-3 my-2">
            <label for="inputLname"
              >Last name <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              id="inputLname"
              placeholder="Enter last name"
              required
            />
          </div>
          <h4 class="my-2">Sign-in Information</h4>
          <div class="form-group mx-sm-3 my-2">
            <label for="inputEmail"
              >Email <span style="color: red">*</span></label
            >
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="inputEmail"
              placeholder="Enter email address"
              required
            />
          </div>
          <div class="form-group mx-sm-3 my-2">
            <label for="inputPassword"
              >Password <span style="color: red">*</span></label
            >
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="inputPassword"
              placeholder="Enter password"
              title="at least one number and one uppercase and lowercase letter and one of the following #?!@$ %^&*-, and at least 8 or more characters"
              required
            />
          </div>

          <div class="form-group mx-sm-3 my-2">
            <label for="confirmPassword"
              >Confirm Password <span style="color: red">*</span></label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              formControlName="passwordCheck"
              name="confirmPassword"
              required
            />
            <div
              *ngIf="
                createUserForm.errors?.['matchPassword'] &&
                (createUserForm.controls['passwordCheck'].dirty ||
                  createUserForm.controls['passwordCheck'].touched)
              "
            >
              <p style="color: red !important">The passwords do no match.</p>
            </div>
          </div>
          <div class="form-group mx-sm-3 my-2">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!createUserForm.valid"
            >
              Create an account
            </button>
          </div>
          <span class="mx-sm-3"
            ><small style="color: red">* Required Fields</small></span
          >
        </form>
      </fieldset>
    </div>
  </div>
  <!-- end page content -->
</div>
